<div
  class="card"
  [routerLink]="['/rentals/' + rental.id]"
  routerLinkActive="router-link-active"
>
  <img class="card-img-top" src="{{rental.image}}" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ rental.category }} - {{ rental.city }}</h5>

    <span class="card-text">{{ rental.title }}</span>

    <p>
      <small class="card-text text-muted"
        >${{ rental.dailyRate }} per night - Free cancelation</small
      >
    </p>
    <a href="#" class="btn-link">More Info</a>
  </div>
</div>
